.site-header {
  padding: 10px 0;
  position: absolute;
  transition: background-color .3s ease-in;
  width: 100%;
  z-index: 1;

  &--is-open {
    background-color: transparentize($main-blue-color, .5);
  }

  @include mobile-and-up {
    background-color: transparentize($main-blue-color, .7);
    position: fixed;

    &--dark {
      background-color: rgba(23, 51, 72, .85);
      }
	  }
  
  &__menu-icon {
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
    z-index: 2;

    &::before {
      background-color: #fff;
      content: '';
      height: 3px;
      transform-origin: 0 0;
      transition: transform .3s ease-out;
      width: 100%;
      left: 0;
      top: 0;
      position: absolute;
    }

    &__middle {
      background-color: #fff;
      height: 3px;
      left: 0;
      position: absolute;
      top: 8px;
      transition: all .3s ease-out;
      width: 100%;
    }

     &::after {
      content:"";
      position: absolute;
      bottom:1px;
      left:0;
      width:100%;
      height:3px;
      background-color: #fff;
      transform-origin: 0 100%;
      transition: transform 0.3s ease-out;
    }

    &--close {
      &::before {
       transform: rotate(45deg) scaleX(1.25); 
      }
      .site-header__menu-icon__middle {
        transform: translateX(-30px);
        opacity:0;
      }
      &::after {
       transform: rotate(-45deg) scaleX(1.25) translateY(1px); 
      }
    }

  		@include mobile-and-up {
  		display:none;
  	}
  } 

  &__menu-content {
  	opacity: 0;
    z-index:-999;
    transform:scale(1.2);
    position:relative;
    padding-top:90px;
    text-align:center;
    transition: all 0.3s ease-out;

  	@include mobile-and-up {
  		opacity:1;
      z-index:1;
      padding-top:0;
      transform:scale(1);
  	}
/// MOBILE MENU
    &--is-visible {
      opacity:1;
      z-index:1;
      transform:scale(1);
    }

  }  

  &__btn {
  	
    @include mobile-and-up {
      float:right;
    }
  }

  &__logo {
  	position:absolute;
  	background-color:$main-blue-color;
  	padding:25px 36px;
  	top:0;
  	left:50%;
  	transform:translateX(-50%) scale(.8);
  	transform-origin: 50% 0;
    transition: transform 0.4s ease-out;

  	@include mobile-and-up {
  		left:auto;
  		transform:translateX(0);

      .site-header--dark & {
        transform:scale(.56);
      } /// radi samo kad je DARK clasa ukljucena
  	}

  }
}

.primary-nav {
  padding-top: 10px;

     @include mobile-and-up {
       padding-top: 0;
   }
 

	&--pull-right {

    @include mobile-and-up {
		float:right;}
	}

	ul {
		margin:0;
		padding:0;
		@include clear-fix;
	}

	li {
		padding-right: 10px;
		list-style: none;
    display:inline-block;
		
    @include mobile-and-up {
      float:left;
      padding-right: 20px;
      display:block;
    }
	}

 li:last-child {
  padding-right:0;
  @include mobile-and-up {
    padding-right:20px;
  }

 }

	a {
		color:#fff;
		font-weight: 300;
		text-decoration: none;
		display:block;
		padding:5px 8px;
    font-size:0.8rem;
    background-color: transparentize($main-blue-color, .5);

    @include mobile-and-up {
      background-color: transparent;
      font-size: 1rem;
      padding: 12px 0;

      &.is-current-link {
        color:$main-orange-color;
      } 
    }
	}
}