.page-section {
	padding:1.2rem;
	@include mobile-and-up {
	 		padding:4.5rem 0;
	 	}

	&--blue {
	  background-color: $main-blue-color;
	  color:white;	
	}
}

.headline {
	font-weight: 100;
	font-size:1.85rem;
	color:$main-blue-color;
	@include mobile-and-up {
	 	font-size:2.85rem;
	 	}


	&--center {
	  text-align: center;	
	}
	&--orange {
		color:$main-orange-color;
	}
	&--small {
		font-size:1.2rem;
		@include mobile-and-up {
	 	font-size:1.8rem;
	 	}
	}
	&--width {
		max-width:500px;
		margin-left: auto;
		margin-right: auto;
	}
	&--b-margin-small {
		margin-bottom: 0.5em;
	}
	&--b-margin-large {
		margin-bottom: 1.5em;
	}

	&--no-t-margin {
		margin-top: 0;
	}
}

.generic-content {
	p {
		line-height: 1.7;
		margin: 1.7rem 0;
		@include mobile-and-up {
	 	  font-size:1.125rem;
	 	} 
	}
	p a {
		font-weight:700;
		color:$main-orange-color;
	}
}