.row {

	@include clear-fix;

	&--t-padding {
	  padding-top: 80px	
	}
	
	&--gutters {
		margin-right: -65px;
	}

	&--gutters-large {
		margin-right: -100px;
	}

	&--gutters > div {
		padding-right: 65px;
	}

	&--gutters-large > div {
		padding-right: 100px;
	}

	&--gutters-small {
		margin-right: -45px;
	}
	&--gutters-small > div {
		padding-right: 45px;
	}

	&__b-margin-query{
      margin-bottom:1rem;
	}

	@include mobile-and-up {

	&__b-margin-query{
      margin-bottom:0rem;
	}

	 &__medium-4 {
		float: left;
		width: 33.33%;
	}
	 &__medium-4--larger {
		width: 37%;
	}

	&__medium-8 {
		float:left;
		width:66.66%;
	}
	 &__medium-8--smaller {
		width: 63%;
	}
	&__medium-6 {
		float:left;
		width:50%;
	}
 }
/* Equal height flexbox*/
 &--equal-height-m {
  @include mobile-and-up {
  	display:flex;
  }
  & > div {
  	justify-content: center;
  	float:none;
  	display:flex;
  }
 }
	
}